In [2]:
import pandas as pd

In [9]:
sales_data = pd.read_csv(r"C:\Users\surbhi\Downloads\sales_data_sample.csv" , encoding = "latin1")

In [10]:
print(sales_data.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [13]:
sales_data.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [16]:
sales_data.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [20]:
sales_data['ADDRESSLINE2'] = sales_data['ADDRESSLINE2'].fillna("Not Provided")
sales_data['STATE'] = sales_data['STATE'].fillna("Unknown")
sales_data['TERRITORY'] = sales_data['TERRITORY'].fillna("Unknown")
sales_data['POSTALCODE'] = sales_data['POSTALCODE'].fillna("Unknown")

In [21]:
sales_data.isnull().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [22]:
sales_data.duplicated().sum()

0

In [36]:
sales_data['COUNTRY'].unique()

array(['USA', 'France', 'Norway', 'Australia', 'Finland', 'Austria', 'UK',
       'Spain', 'Sweden', 'Singapore', 'Canada', 'Japan', 'Italy',
       'Denmark', 'Belgium', 'Philippines', 'Germany', 'Switzerland',
       'Ireland'], dtype=object)

In [37]:
sales_data['ORDERDATE']

0        2/24/2003 0:00
1         5/7/2003 0:00
2         7/1/2003 0:00
3        8/25/2003 0:00
4       10/10/2003 0:00
             ...
2818     12/2/2004 0:00
2819     1/31/2005 0:00
2820      3/1/2005 0:00
2821     3/28/2005 0:00
2822      5/6/2005 0:00
Name: ORDERDATE, Length: 2823, dtype: object

In [39]:
sales_data['ORDERDATE'] = pd.to_datetime(sales_data['ORDERDATE'])
sales_data['ORDERDATE'] = sales_data['ORDERDATE'].dt.strftime('%d-%m-%y')

In [48]:
sales_data['ORDERDATE'].unique()

array(['24-02-03', '07-05-03', '01-07-03', '25-08-03', '10-10-03',
       '28-10-03', '11-11-03', '18-11-03', '01-12-03', '15-01-04',
       '20-02-04', '05-04-04', '18-05-04', '28-06-04', '23-07-04',
       '27-08-04', '30-09-04', '15-10-04', '02-11-04', '15-11-04',
       '24-11-04', '17-12-04', '03-02-05', '03-03-05', '08-04-05',
       '13-05-05', '29-01-03', '24-03-03', '28-05-03', '24-07-03',
       '19-09-03', '20-10-03', '06-11-03', '13-11-03', '25-11-03',
       '05-12-03', '29-01-04', '10-03-04', '04-05-04', '15-06-04',
       '19-07-04', '17-08-04', '08-09-04', '11-10-04', '21-10-04',
       '04-11-04', '18-11-04', '29-11-04', '10-12-04', '20-01-05',
       '17-02-05', '09-03-05', '01-05-05', '31-05-05', '29-04-03',
       '12-01-04', '03-04-04', '27-09-04', '23-11-04', '02-02-05',
       '07-04-05', '05-01-05', '11-02-03', '28-04-03', '12-06-03',
       '10-08-03', '06-10-03', '23-10-03', '08-11-03', '14-11-03',
       '26-11-03', '09-01-04', '19-02-04', '07-05-04', '17-06-04',
       '21-07-04', '20-08-04', '10-09-04', '14-10-04', '01-11-04',
       '05-11-04', '21-11-04', '02-12-04', '15-12-04', '31-01-05',
       '23-02-05', '17-03-05', '01-04-05', '06-05-05', '01-04-03',
       '21-10-03', '09-12-03', '04-02-04', '11-03-04', '19-08-04',
       '13-10-04', '22-10-04', '19-11-04', '03-03-03', '08-05-03',
       '02-07-03', '05-09-03', '04-11-03', '12-11-03', '20-11-03',
       '02-12-03', '22-02-04', '09-04-04', '01-06-04', '06-07-04',
       '02-08-04', '30-08-04', '04-10-03', '16-10-04', '03-11-04',
       '06-01-05', '17-05-05', '16-04-03', '03-06-03', '08-08-03',
       '28-09-03', '22-10-03', '02-01-04', '12-02-04', '19-03-04',
       '05-05-04', '20-07-04', '09-09-04', '20-11-04', '23-01-05',
       '05-05-05', '26-03-03', '02-02-04', '21-02-04', '31-01-03',
       '15-03-04', '26-01-05', '11-10-03', '16-01-04', '08-02-05',
       '01-12-04', '23-03-05', '09-02-05', '04-04-03', '01-08-03',
       '21-09-03', '10-02-04', '03-05-05', '12-04-04', '04-08-04',
       '14-04-05', '10-03-03', '04-07-03', '11-09-03', '17-10-03',
       '05-11-03', '13-04-04', '06-08-04', '05-10-03', '17-11-04',
       '09-12-04', '07-01-05', '04-03-05', '15-04-05', '10-01-03',
       '25-03-03', '21-05-03', '16-07-03', '12-09-03', '18-10-03',
       '21-11-03', '03-12-03', '02-03-04', '29-04-04', '08-06-04',
       '03-09-04', '16-02-05', '30-05-05', '18-03-03', '20-05-03',
       '10-07-03', '26-02-04', '01-09-04', '12-01-05', '10-02-05',
       '22-04-05', '17-02-03', '16-06-03', '27-11-03', '11-05-04',
       '24-06-04', '21-08-04', '15-09-04', '10-11-04', '22-11-04',
       '03-12-04', '01-03-05', '30-03-05', '10-05-05', '06-01-03',
       '26-01-04', '25-11-04', '29-05-05', '10-01-05', '06-10-04',
       '22-02-05', '09-01-03', '26-04-04', '23-04-05', '27-06-03',
       '02-04-04', '16-09-04', '04-12-04', '03-04-05', '04-06-04',
       '14-06-04', '16-07-04', '10-03-05', '06-06-03', '07-11-03',
       '18-02-04', '20-03-04', '15-03-05', '09-11-04', '26-05-04',
       '02-07-04', '07-09-04', '16-11-04', '07-12-04', '03-09-03',
       '30-06-04', '28-08-04', '08-05-04', '12-11-04', '09-05-05',
       '25-09-03', '22-01-04', '29-10-04', '07-07-04', '09-08-04',
       '19-11-03', '19-01-05', '02-10-03', '29-03-04', '28-02-05',
       '20-04-04', '02-03-05', '11-04-03', '13-08-03', '08-10-03',
       '28-03-05', '21-04-03'], dtype=object)

In [49]:
sales_data.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [50]:
sales_data.columns = sales_data.columns.str.lower()

In [51]:
sales_data.columns

Index(['ordernumber', 'quantityordered', 'priceeach', 'orderlinenumber',
       'sales', 'orderdate', 'status', 'qtr_id', 'month_id', 'year_id',
       'productline', 'msrp', 'productcode', 'customername', 'phone',
       'addressline1', 'addressline2', 'city', 'state', 'postalcode',
       'country', 'territory', 'contactlastname', 'contactfirstname',
       'dealsize'],
      dtype='object')

In [52]:
sales_data.dtypes

ordernumber           int64
quantityordered       int64
priceeach           float64
orderlinenumber       int64
sales               float64
orderdate            object
status               object
qtr_id                int64
month_id              int64
year_id               int64
productline          object
msrp                  int64
productcode          object
customername         object
phone                object
addressline1         object
addressline2         object
city                 object
state                object
postalcode           object
country              object
territory            object
contactlastname      object
contactfirstname     object
dealsize             object
dtype: object

In [53]:
sales_data['orderdate'] = pd.to_datetime(sales_data['orderdate'])

In [55]:
sales_data.dtypes

ordernumber                  int64
quantityordered              int64
priceeach                  float64
orderlinenumber              int64
sales                      float64
orderdate           datetime64[ns]
status                      object
qtr_id                       int64
month_id                     int64
year_id                      int64
productline                 object
msrp                         int64
productcode                 object
customername                object
phone                       object
addressline1                object
addressline2                object
city                        object
state                       object
postalcode                  object
country                     object
territory                   object
contactlastname             object
contactfirstname            object
dealsize                    object
dtype: object